.d-flex{
    display: flex;
}
.border{
    border: 2px solid red;
    margin: 2px;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-content: center;
}

.items-center{
    align-items:center;
}

.invert{
    filter: invert(1);
}
.invert-secondary{
    filter: invert(71%);
}